services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: vortox
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: ./api
    container_name: ff_api
    restart: always
    env_file: ./api/.env
    depends_on:
      - postgres
    ports:
      - "3001:3001"

  next:
    build: ./next
    container_name: ff_frontend
    restart: always
    ports:
      - "3000:3000"
    env_file: ./next/.env.local
    depends_on:
      - api

volumes:
  postgres_data:
